// 1. Import the initial variables
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
@import url('https://fonts.googleapis.com/css?family=Raleway');

// 2. Set your own initial variables
$primary: #008F95;
$warning: #E9B000;
$danger: #E24E42;
$success: rgb(37, 174, 106);
$info: rgb(52, 96, 241);

$pink: #EB6E80;

$family-primary: 'Raleway', sans-serif;
