// Variables
@import "variables";

// Bulma
@import "~bulma/bulma";
@import "~bulma-slider/dist/bulma-slider";

/* Classes de uso geral */
.is-marginless {
	margin-bottom: 0 !important;
}

.is-status-button {
	height: auto;
}

.has-cursor-pointer {
	cursor: pointer;
}

/* Página de Início */

.hero-home {
	background: url('/img/hero-home.jpg');
	background-size: cover;
}
