// Variables
@import "variables";

// Bulma
@import "~bulma/bulma";


@import "~bulma-slider/dist/bulma-slider";

/* Classes utilitárias */
.is-marginless {
	margin-bottom: 0 !important;
}

.is-status-button {
	height: auto;
}

.has-cursor-pointer {
	cursor: pointer;
}

.has-margin-bottom-100 {
	margin-bottom: 1em;
}

.is-underlined-dashed-white {
	padding-bottom: 1.5rem;
	border-bottom: 5px dashed $white;
}

.is-underlined-dashed-success {
	padding-bottom: 1.5rem;
	border-bottom: 5px dashed $success;
}

.is-underlined-warning {
	border-bottom: 10px solid $warning;
}

/* Elementos gerais */

div.divider {
	width: 80%;
	margin: 0 auto -10px;
	height: 10px;
	position: relative;
	top: -5px;

	&.is-primary {
		background-color: $primary;
	}
	&.is-success {
		background-color: $success;
	}
	&.is-grey {
		background-color: $grey;
	}
	&.is-warning {
		background-color: $warning;
	}
	&.is-info {
		background-color: $info;
	}
	&.is-danger {
		background-color: $danger;
	}
	&.is-dark {
		background-color: $dark;
	}
}

.card {
	border-radius: 10px;
}

/* Barra de navegação */

img.logo {
	max-width: 200px;
	height: auto;
	margin: 1rem 0;
}
.navbar-menu .navbar-item {

	&:hover, &.is-active, & .navbar-link {
		background-color: transparent !important;
	}

	span.inicio {
		position: relative;

		&::before {
			content: "";
			width: 0;
			height: 5px;
			background-color: $danger;
			position: absolute;
			bottom: -4px;
			z-index: 2;
			transition: width .5s cubic-bezier(.7,0,.3,1);
		}
	}

	span.o-planbici {
		position: relative;

		& img {
			position: absolute;
			top: -150%;
			left: -35%;
			width: 120%;
			height: auto;
			z-index: -1;
			max-width: none;
			max-height: none;
			opacity: 0;
			transition: opacity .3s cubic-bezier(.7,0,.3,1);
		}
	}

	span.participe-cobre {
		position: relative;

		&::before {
			content: "";
			width: 0;
			height: 5px;
			background-color: $warning;
			position: absolute;
			bottom: -4px;
			left: 20%;
			z-index: 2;
			transition: width .5s cubic-bezier(.7,0,.3,1);
		}
		&::after {
			content: "";
			width: 0;
			height: calc(100% + 20px);
			background-color: $primary;
			position: absolute;
			top: -5px;
			left: -5%;
			z-index: -1;
			transition: width .3s cubic-bezier(.7,0,.3,1);
		}
	}

	span.contato {
		position: relative;

		&::before {
			content: "";
			width: 0;
			height: 0;
			padding-top: 0;
			border-radius: 100%;
			background-color: $info;
			position: absolute;
			right: 21%;
			top: 40%;
			z-index: -1;
			transition: all .3s cubic-bezier(.7,0,.3,1);
		}
		&::after {
			content: "";
			width: 0;
			height: 5px;
			background-color: $success;
			position: absolute;
			bottom: -80%;
			right: -7%;
			z-index: -1;
			transition: width .5s cubic-bezier(.7,0,.3,1);
		}
	}

	&:hover, &.is-active {
		@media (min-width: 769px) {
			span.inicio::before {
				width: 100%;
			}

			span.o-planbici img {
				opacity: 1;
			}

			span.participe-cobre{
				&::before {
					width: 80%;
				}
				&::after {
					width: 50%;
				}
			}
			span.contato{
				&::before {
					width: 75%;
					padding-top: 75%;
					right: -7%;
					top: -40%;
				}
				&::after {
					width: 75%;
				}
			}
		}
	}
}

/* Página de Início */

.home-hero {
	background: url('/img/home/home-hero.jpg');
	background-size: cover;
	background-position: right;
}

.hero.home-hero > .hero-body {
	@media (min-width: 769px) {
		padding-top: 15rem;
		padding-bottom: 3rem;
	}

	& .subtitle-box {
		background-color: $danger;
		max-width: 40%;
		padding: 0.5rem 1rem;
		position: relative;
		left: -1rem;

		@media (max-width: 768px) {
			max-width: 80%;
		}
	}
}

.pedalar-bh {
	position: relative;
	padding-bottom: 15rem;

	@media (max-width: 768px) {
		padding-top: 10rem;
		padding-bottom: 10rem;
	}

	#home-bici-1 {
		position: absolute;
		left: 0;
		top: 3rem;
		max-width: 25vw;
	}

	#home-bici-2 {
		position: absolute;
		right: 0;
		bottom: 3rem;
		max-width: 25vw;
	}

}

.title .apoie {
	position: relative;
	z-index: 1;
	font-size: 6rem;

	&::before {
		content: "";
		width: 105%;
		height: 20px;
		background-color: $warning;
		position: absolute;
		bottom: -2px;
		left: -2.5%;
		z-index: -1;
	}
}

h1.home-noticias-title {
	margin-bottom: 6rem;

	& span.text-container {
		position: relative;

		& img {
			position: absolute;
			left: -50%;
			top: -120%;
			width: 180%;
			height: auto;
			max-width: none;
			max-height: none;
			z-index: -1;
		}
	}
}

.card-footer-item {
	display: inline-block;
}

/* Página Acompanhe */

// /* Special styling for WebKit/Blink */
// input[type=range]::-webkit-slider-thumb {
//   content: '\f206' !important;
// }
//
// /* All the same stuff for Firefox */
// input[type=range]::-moz-range-thumb {
// 	content: '\f206' !important;
// }
//
// /* All the same stuff for IE */
// input[type=range]::-ms-thumb {
// 	content: '\f206' !important;
// }

.is-delayed {
	background-image: url('/img/atrasado.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100px;
}

/* Página Apoie */

.councilor-overlay, .councilor-overlay-hover {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0.5;
}

.councilor-overlay-hover {
	opacity: 0;
	transition: .2s ease;
}

figure:hover .councilor-overlay-hover {
	opacity: 1;
}

.councilor-overlay-hover > .text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}
